*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
#Container{
    padding: 15px;
    margin: 5px;
    margin:150px  auto;
    box-shadow: 0px 5px 10px gray;
    background-color: rgb(243, 231, 231);
    text-align: start;
    height: auto;
    width: fit-content;
}
#submit,input{
    outline: none;
    border: none;
    padding: 3px;
    margin: 5px;
    font-size: 20px;
    border-radius: 2px;
}
#submit{
    width: 90%;
    outline: none;
    border: none;
    background-color: rgb(46, 46, 255);
    color: white;
    font-size: 25px;
    border-radius: 5px;
}