*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
input{
    margin: 12px;
    padding: 5px;
    font-size: 20px;
    border: none;
    outline: none;
    border: 2px solid rgb(228, 215, 215);
}
label{
    margin: 12px;
    padding: 5px;
    font-size: 20px;

}
p{
    padding: 5px;
    margin:2px 7px ;
}
form{
    margin:80px auto;
    padding: 20px;
    width: 500px;
    height: auto;
    box-shadow:5px 5px 10px gray;
}
#submit{
    width: 90%;
    outline: none;
    border: none;
    background-color: rgb(46, 46, 255);
    color: white;
    font-size: 25px;
    border-radius: 5px;
}
#errorMail,#errorPas{
    color: red;
    text-align: end;
    font-size: 15px;
}